<div class="ssc">
    <ul class='shapes-list'>
        {{#each shapes}}
        <li class='item shape'>
            <input type="image" class='shape-img actor-button' src="{{img}}" data-shape-id='{{uuid}}'>
            <a class="shape-name">{{name}}</a>
            <span class='item-controls'>
                {{#if ../isOwner}}
                <button type='button' class='shape-delete' data-shape-id='{{uuid}}' title='{{localize "SWADE.Del"}}'>
                    <i class='fas fa-trash'></i>
                </button>
                {{/if}}
            </span>
        </li>
        {{/each}}
    </ul>
</div>